.hidden {
  display: none !important;
}

.jspsych-display-element {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: #D4D4D4;
  font-family: sans-serif;
}

.interaction {
  display: block;
  position: absolute;
  z-index: 200;
}

#download-now {
  cursor: pointer;
  width: 185px;
  height: 40px;
  top: 374px;
  left: 235px;
}

#save-file {
  cursor: pointer;
  width: 81px;
  height: 29px;
  top: 378px;
  left: 676px;
}

#bookmark {
  width: 25px;
  height: 26px;
  top: 98px;
  left: 904px;
}

#downloads {
  width: 25px;
  height: 26px;
  top: 98px;
  left: 1064px;
}

#library {
  width: 25px;
  height: 26px;
  top: 98px;
  left: 1092px;
}

#library-doorhanger {
  display: block;
  position: absolute;
  width: 324px;
  height: 483px;
  top: 133px;
  left: 799px;
}

.hint {
  top: 33px;
  position: absolute;
  background-color: #F0F0F0;
  border: black 1px solid;
  line-height: 1.2em;
  font-size: .7em;
  padding: 1px 5px;
  border-radius: 2px;
  left: -6px;
}

#step-complete {
  border: black 1px solid;
  z-index: 5;
  position: absolute;
  top: 178px;
  left: 400px;
  margin: auto;
  display: block;
  width: 400px;
  background-color: white;
  padding: 60px;
  text-align: center;
  box-shadow: 0px 5px 6px 4px rgba(0,0,0,0.4);
}

#step-complete p {
  margin: 0;
}

#step-complete h1 {
  font-weight: inherit;
}

#reset {
  width: 25px;
  height: 26px;
  top: 98px;
  left: 174px;
}
