.hidden {
  display: none !important;
}

.jspsych-display-element {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: #D4D4D4;
  font-family: sans-serif;
}

.interaction {
  display: block;
  position: absolute;
  z-index: 200;
}

#jspsych-survey-text-0 {
  display: block;
  margin: auto;
  width: 50%;
  text-align: left;
}

#jspsych-survey-text-0 input {
  width: 340px;
  padding: 6px;
}

#jspsych-survey-text-next {
  display: block;
  margin-left: 25%;
  margin-top: 50px;
}

#click-target {
  width: 395px;
  height: 442px;
  top: 277px;
  left: 314px;
}

#click-target:not(.new-tab):not(.firstrun) {
  cursor: pointer;
}

#click-target.new-tab {
  width: 24px;
  height: 24px;
  top: 16px;
  left: 364px;
}

#click-target.new-tab.current {
  width: 40px;
  height: 32px;
  top: 12px;
  left: 356px;
}

#click-target.new-tab:hover:not(.firstrun) {
  background: #fff;
  opacity: 0.2;
}

#step-complete {
  border: black 1px solid;
  z-index: 300;
  position: absolute;
  top: 178px;
  left: 400px;
  margin: auto;
  display: block;
  width: 400px;
  background-color: white;
  padding: 56px;
  text-align: center;
  box-shadow: 0px 5px 6px 4px rgba(0,0,0,0.4);
}

#step-complete p {
  margin: 0;
}

#step-complete h1 {
  font-weight: inherit;
}

#step-complete button {
  height: 40px;
  background-color: #46788c;
  -moz-appearance: none;
  border: none;
  border-radius: 7px;
  color: white;
  width: 110px;
  margin: 10px 10px 0;
  font-size: 15px;
  cursor: pointer;
}

#thank-you {
  width: 50%;
  margin: 100px auto;
}

#instructions {
  width: 351px;
  position: fixed;
  top: 63px;
  background: white;
  right: 0;
  z-index: 400;
  border-radius: 8px 0 0 7px;
  border: 1px #333333b3 solid;
}

#click-target.firstrun.new-tab {
  top: 0;
  left: 0;
  width: 52px;
  height: 44px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-width: 6px 110vw 120vh 350px;
}

#click-target.firstrun:not(.new-tab) {
  top: 0;
  left: 0;
  width: 395px;
  height: 442px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-width: 277px 110vw 120vh 314px;
}

#confirm-instructions {
  width: 252px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
  height: 40px;
  background-color: #46788c;
  -moz-appearance: none;
  border: none;
  border-radius: 7px;
  color: white;
  transition: height .2s ease-in-out;
  overflow: hidden;
  font-size: 15px;
  cursor: pointer;
}

#confirm-instructions[disabled] {
  height: 0;
}

#progress {
  line-height: 40px;
  background-color: #46788c;
  color: white;
  height: 40px;
  padding-left: 20px;
  border-radius: 7px 0 0 0;
}

#instructions-text {
  padding: 5px 20px;
}

#jspsych-survey-multi-choice-form {
  width: 80%;
  display: block;
  margin: 20px auto;
  border: 1px black solid;
}

#jspsych-survey-multi-choice-form {
  background: whitesmoke;
}

#outer-body {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 1366px 768px;
  background-repeat: no-repeat;
}

#outer-body[treatment='new-tab'] {
  background-image: url('../img/newtab.png');
}

#outer-body[treatment='page-load'] {
  background-image: url('../img/loading.png');
}

.jspsych-survey-multi-choice-question {
  width: 100%;
  margin-bottom: 4em;
  margin-top: 2em;
}

.jspsych-survey-multi-choice-text.survey-multi-choice {
  text-align: left;
  margin-left: 5%;
}

.multi-choice-answers {
  display: flex;
  margin: 0 5%;
}

.jspsych-survey-multi-choice-horizontal .jspsych-survey-multi-choice-text {
  font-weight: bold;
}

.jspsych-survey-multi-choice-horizontal .jspsych-survey-multi-choice-option {
  flex: 1;
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.jspsych-survey-multi-choice-horizontal .jspsych-survey-multi-choice-option  * {
  cursor: pointer;
}

.jspsych-survey-multi-choice-horizontal .jspsych-survey-multi-choice-option:first-child {
  margin-left: 0;
}

.jspsych-survey-multi-choice-horizontal .jspsych-survey-multi-choice-option:last-child {
  margin-left: 0;
}

.jspsych-survey-multi-choice-horizontal .jspsych-survey-multi-choice-option .jspsych-survey-multi-choice-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  font-weight: normal;
}

#jspsych-survey-multi-choice-next {
  margin: -10px auto 20px;
}
